.input {
  position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.inputField {
  position: relative;
	display: block;
	float: right;
	width: 60%;
	border: none;
	border-radius: 0;
	font-weight: bold;
	-webkit-appearance: none; /* for box shadows to show on iOS */

  /* Isao */
  z-index: 10;
	padding: 0.75em 0.1em 0.25em;
	width: 100%;
	background: transparent;
	color: #414a51;

  &:focus {
    outline: none;
  }
}

.inputLabel {
  display: inline-block;
	float: right;
	color: #414a51;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	user-select: none;

  /* Isao */
  position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	text-align: left;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 7px;
    background: #414a51;
    transform: scale3d(1, 0.4, 1);
    transform-origin: 50% 100%;
    transition: transform 0.3s, background-color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75em 0.15em;
    color: #007bff;
    opacity: 0;
    transform: translate3d(0, 50%, 0);
    transition: opacity 0.3s, transform 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    pointer-events: none;
  }
}

.inputField:focus + .inputLabel::before {
	background-color: #007bff;
	transform: scale3d(1, 1, 1);
}

.inputField:focus + .inputLabel {
	pointer-events: none;
}

.inputField:focus + .inputLabel::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.inputField:focus + .inputLabel .inputLabelContent {
	opacity: 0;
	transform: translate3d(0, -50%, 0);
}

.inputLabelContent {
  position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;

  /* Isao */
  padding: 0.75em 0.15em;
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}